.movie-card {
    transition: transform 0.2s;
    border-radius: 50px;
    border-color: transparent;
    border-width: 0;
    color: transparent;
}

.movie-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}